body {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  background-color: rgb(178, 178, 178);
}

table {
  text-align: left;
  vertical-align: middle;
  width: 100%

}

#cName {
  width: 30%
}

#cResearch {
  width: 40%
}

#cContact {
  width: 30%
}

#cProject {
  width: 30%
}

#cAim {
  width: 70%
}

#cHalf {
  width: 50%
}

#rCategory {
  font-weight: bold;
  width: 100%
}

#tText {
  text-align: justify;
  width: 100%;
}

#tBottom {
  text-align: center;
  font-size: 70%;
  width: 100%;
}

#mainDiv {
  width: 60%;
  position: absolute;
  left: 20%;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 25px 50px 25px 50px;
  border-color: rgb(255, 255, 255);
  /*testing color*/
  /*border-color: rgb(255, 0, 0);*/
}
