body {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  background-color: rgb(178, 178, 178);
}

table {
  text-align: left;
  vertical-align: middle;
  width: 100%

}

#cName {
  width: 29%;
  font-size: 100%;
}

#cNormalize {
  width: 1%
  font-size: 100%;
}

#cResearch {
  width: 40%;
  font-size: 100%;
}

#cContact {
  width: 30%;
  font-size: 100%;
}

#cProject {
  width: 29%;
  font-size: 100%;
}

#cAim {
  width: 70%;
  font-size: 100%;
}

#cHalf {
  width: 50%;
  font-size: 100%;
}

#cHalfItalic {
  width: 50%;
  text-align: right;
  font-style: italic;
  font-size: 80%;
}


#rCategory {
  font-weight: bold;
  width: 100%;
  font-size: 100%;
}

#tText {
  text-align: justify;
  width: 100%;
  font-size: 100%;
}

#tBottom {
  text-align: center;
  font-size: 70%;
  width: 100%;
}

#mainDiv {
  width: 60%;
  position: absolute;
  left: 20%;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 25px 50px 25px 50px;
  border-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 10px #888888;
  /*testing color*/
  /*border-color: rgb(255, 0, 0);*/
}

